* {
    font-family: Garamond;
}

body {
    background-color: lightgrey}

.divider {
    height: 3vh;
}

#container {
    width: 100%;
}

.navbar {
    width: 100%;
    background-color: rgb(40,62,99);
}

.nav-link {
    margin-left: 50px;
}

.nav-link:hover {
    border-bottom: solid;
    border-bottom-color: black;
    border-bottom-width: 3px;
}

/* colour codes

rgb(40,62,99)

*/